/* div.text {
  white-space: pre-wrap;
  width: 800px;
  height: 100%;
} */
#pdf_id {
  padding: 0px;
  margin: 0px;
  white-space: pre-wrap;
  width: 800px;
  /* height: 200%; */
  /* font-size: 100%; */
}

