
label {
  display: block;
  padding-top: 10px;
  padding-left: 15px;
  text-indent: -15px;
  float: left;
  margin-right: 30px;
}

/* div.alpha {
  padding-top: 20px;
  display: inline;
  padding: 0px;
} */

form {
  padding-top: 10px;
}

