
table, th, td {
  border: 1px solid black;
}

table {
  font-family: "Trebuchet MS", Aliel, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

table td, tble th {
    border: 1px solid #ddd;
    padding: 4px;
}

table tr:nth-child(even){background-color: #e2e2e2;}

table tr:hover {background-color: #ccc;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
    position: sticky; top: 0;
}


div.tbl {
  /* height: 55vh; */
  overflow-y: auto;
}

label {
  display: block;
  padding-top: 1px;
  padding-left: 15px;
  text-indent: -15px;
  float: left;
  margin-right: 30px;
}

/* div.alpha {
  padding-top: 20px;
  display: inline;
  padding: 0px;
} */

form {
  padding-top: 10px;
}

